/* From Uiverse.io by ami-hp */ 
.darkThemeBtn * {
    transition: all 0.3s;
  }
  
  .darkThemeBtn input {
    width: 0;
    height: 0;
    visibility: hidden;
  }
  
  .darkThemeBtn label {
    background: #f5f5f5;
    border-radius: 10px;
    height: 36px;
    width: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
  }
  
  .darkThemeBtn label:active {
    border-radius: 5px;
  }
  
  .darkThemeBtn label svg {
    position: absolute;
    width: 16px;
    transition: 0.3s;
    z-index: 1;
    fill: #000;
  }
  
  .darkThemeBtn label svg.sun {
    width: 20px;
    opacity: 0;
    fill: #ffffff;
  }
  
  .darkThemeBtn label svg.moon {
    opacity: 1;
  }
  
  .darkThemeBtn input:checked + label {
    background: #262626;
  }
  
  .darkThemeBtn input:checked + label svg.sun {
    opacity: 1;
  }
  
  .darkThemeBtn input:checked + label svg.moon {
    opacity: 0;
  }
  
  .darkThemeBtn input:checked ~ span {
    background-color: #16174b;
  }