.animate-flip {
    animation: flip 9s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}

@keyframes flip {
    0%,
    20% {
        transform: translateY(0);
    }

    25%,
    45% {
        transform: translateY(-25%);
    }

    50%,
    70% {
        transform: translateY(-50%);
    }

    75%,
    95% {
        transform: translateY(-75%);
    }

    100% {
        transform: translateY(-75%);
    }
}

.role {
    height: 1.4rem;
    display: flex;
    align-items: center;
}
